* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif
}

/* html, body {
    height: 100%;
    width: 100%;
} */

body {
    background-color: #F5F7FB;
    background-image: url("./images/blob-1.svg"), url("./images/blob-2.svg");
    background-repeat: no-repeat;
    background-position: right top, left bottom;
    background-attachment: fixed;
}

/* Main app container */

.App {
    display: flex;
    margin: auto auto auto auto;
    padding: 50px 60px;
    border-radius: 10px;
    width: 550px;
    min-height: 550px;
    color: #293264;
}

/* Main Buttons Style */

.main--button {
    background-color: #4D5B9E;
    margin: 15px;
    padding: 10px 5px;;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px #1e1e1e;
}

.main--button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.main--button:active {
    transform: translateY(1px);
    box-shadow: 0px 2px #1e1e1e;
}

.trivia--screen {
    display: block;
    margin: auto;
    width: 175px;
}

/* Main Menu */

.menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.menu--title {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
}

.menu--description {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.menu--dropdowns-container {
    display: flex;
    flex-direction: row;
}

.menu--dropdowns {
    /* background-color: #FCFCFC; */
    margin: 10px 5px;
    border-radius: 5px;
    height: 2em;
    min-width: 125px;
    font-size: 1em;
}



/* Questions/Answers/Score */

.question--title {
    font-size: 1.2em;
}

.question--answers-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.question--answers {
    margin: 2px 0px;
    background-color: transparent;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 500;
    color: #293264;
    text-align: left;
    width: 100%;
}

.selected {
    background-color: #D6DBF5;
}

.correct {
    background-color: #49BE82;
    color: white;
}

.incorrect {
    background-color: #F05050;
    color: white;
}

.not-selected {
    opacity: 0.5;
}

.question--answers:hover {
    opacity: 0.75;
}

.question--answers:active {
    scale: 0.99;
}

.question--divider {
    border: 1px solid #DBDEF0;
    margin: 15px 0px;
}

.trivia--score {
    font-size: 2em;
    text-align: center;
}